<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <script data-main="js/app.js" src="js/lib/requirejs/require.js"></script>
  </head>
  <body>
<div class="container">
    </div>
  </body>
</html>